.Level2-head{

    font-family: "Lora", serif;
    font-size: 24px;
    margin-top: 0;
}
.level-2-content{
    color: #696969;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 14px;
    margin-left:90px;
    margin-top:35px;
}


@media screen and (max-width:767px){


    .Level2-head{

        font-family: "Lora", serif;
        font-size: 24px;
        margin-top: 0;
    }
    .level-2-content{
        color: #696969;
        word-wrap: break-word;
        font-family: 'Lora', serif;
        line-height: 2;
        font-size: 14px;
        margin-top:30px;
        margin-left: 0px;
        text-align: center;
    }
    

}