
.page-with-comment-head{

    font-family: "Lora", serif;
    font-size: 24px;
    margin-top: 0;
    color: #444;
    margin-bottom: 30px;
}

.page-with-comment-text{

    color: #696969;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 14px;
    margin-top:15px;
    margin-left: 45px;
    margin-right: 70px;
    margin-bottom: 0px;
}
.riplies{

    font-size: 12px;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
p{
    margin:0px;
}

.comment-list{
    margin-bottom:40px;
    padding-bottom: 30px;
}
.comment{
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    padding-left: 40px;
    width:500px;
    position: relative;
    margin-bottom:-20px;
    
}
.comment-image{
    border-radius: 50%;
    left: 0;
    top: 0;
    width:80px;
    height: 80px;
}
.author{
    font-size:12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 900;
    margin-left: 10px;
    margin-top:40px;
    position: absolute;
}
.reply{
    background: #f2f2f2;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-left: 185px;
    display: inline-block;
    padding: 4px 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin-top:40px;
}

.reply1{
    background: #f2f2f2;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-left: 85px;
    display: inline-block;
    padding: 4px 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin-top:40px;
}


.reply2{
    background: #f2f2f2;
    border-radius: 2px;
    color: #000000;
    font-size: 10px;
    margin-left: 105px;
    display: inline-block;
    padding: 4px 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    margin-top:40px;
}


.comment-date{
    color: #696969;
    background-color: #FFFFFF;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size:12px;
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
}
.contribute{

    margin-left:15px;

    color: #696969;
    background-color: #FFFFFF;
    word-wrap: break-word;
    font-family: 'Lora', serif;
    line-height: 2;
    font-size: 14px;
    margin-top:80px;
}
.hr-line{
    width:40px;
    background-color:#a161bf;
    height: 2px;
    margin-left:240px;
}

.leave-reply{
    font-size: 12px;
    margin: 0 0 50px 40px;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;

}

.comment-form input[type="text"] {
    border: 1px solid #eeeeee;
    border-radius: 0;
    height: 35px;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 100%;
}
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    margin: 0;
    border: 1px solid #eeeeee;
}
input[type=submit]:hover, .comment-form #submit:hover {
    background: #a161bf;
    color: #fff;
}
.comment-form .submit {
    height: 35px;
    background: #f2f2f2;
    border: 0;
    border-radius: 0;
    padding: 0 80px;
    text-transform: uppercase;
    margin-top:30px;
}

@media screen and (max-width: 767px) {
    .page-with-comment-head{

        font-family: "Lora", serif;
        font-size: 14px;
        margin-top: 0;
        color: #444;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .page-with-comment-text{
    
        color: #696969;
        word-wrap: break-word;
        font-family: 'Lora', serif;
        line-height: 2;
        font-size: 14px;
        margin-top:15px;
        margin-left: 10px;
    margin-right: 10px;
        text-align: center;
        margin-bottom: 0px;
    }



    .riplies{
    
        font-size: 12px;
        margin: 0 0 10px 0;
        padding-bottom: 10px;
        letter-spacing: 2px;
        text-align: center;
    }
    p{
        margin:0px;
    }
  

.comment-list{
    margin-bottom:40px;
    padding-bottom: 30px;
}
.comment{
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    padding-left: 10px;
    width:100%;
    position: relative;
    margin-bottom:-20px;
    
}

    .comment-image{
        border-radius: 50%;
        left: 0;
        top: 0;
        width:80px;
        height: 80px;
    }
    .author{
        font-size:10px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        font-style: normal;
        font-weight: 900;

        margin-top:40px;
        position: absolute;
    }
    .reply{
        background: #f2f2f2;
        border-radius: 2px;
        color: #000000;
        font-size: 7px;
       
        display: inline-block;
        padding: 4px 10px;
        font-family: "Montserrat", sans-serif;
        position: absolute;
        margin-top:40px;
    }
    
    .reply1{
        background: #f2f2f2;
        border-radius: 2px;
        color: #000000;
        font-size: 7px;
       
        display: inline-block;
        padding: 4px 10px;
        font-family: "Montserrat", sans-serif;
        position: absolute;
        margin-top:40px;
    }
    
    
    .reply2{
        background: #f2f2f2;
        border-radius: 2px;
        color: #000000;
        font-size: 7px;
        
        display: inline-block;
        padding: 4px 10px;
        font-family: "Montserrat", sans-serif;
        position: absolute;
        margin-top:40px;
    }
    
    
    .comment-date{
        color: #696969;
        background-color: #FFFFFF;
        word-wrap: break-word;
        font-family: 'Lora', serif;
        line-height: 2;
        font-size:10px;
        margin-top: 50px;
       
        position: absolute;
    }
    .contribute{
    
    
        color: #696969;
        background-color: #FFFFFF;
        word-wrap: break-word;
        font-family: 'Lora', serif;
        line-height: 2;
        font-size: 14px;
        margin-top:80px;
    }
    .hr-line{
        width:40px;
        background-color:#a161bf;
        height: 2px;
        float:left;
    }
    
    .leave-reply{
        font-size: 12px;
        margin: 0 0 50px 40px;
        padding-bottom: 10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    
    }
    .comment-form input[type="text"] {
        border: 1px solid #eeeeee;
        border-radius: 0;
        height: 35px;
        margin-bottom: 30px;
        padding: 0 10px;
        width: 100%;
    }
    textarea {
        font-family: 'Montserrat', sans-serif;
        font-size: 100%;
        width:100%;
        margin: 0;
        border: 1px solid #eeeeee;
    }
    input[type=submit]:hover, .comment-form #submit:hover {
        background: #a161bf;
        color: #fff;
    }
    .comment-form .submit {
        height: 35px;
        background: #f2f2f2;
        border: 0;
        border-radius: 0;
        padding: 0 80px;
        text-transform: uppercase;
        margin-top:30px;
    }

}