.cart-head{
    margin-bottom: 30px;
    font-family: "Lora", serif;
    font-size: 24px;
    margin-top: 0;
    color: #444;
    font-weight: 400;
}
.cart-table{
    margin-left: 30px;
}
.cart-images{
    width:30px;
    height: 30px;
}
.quntity-box{
    border: 1px solid gray;
    width: 50px;
    height: 30px;
    padding: 5px;
    text-align: center;
}
.button{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.button:hover{
    background-color: purple;
    color: white;
}
.cart-table-head{

    margin-top:30px;
    font-size: 27px;
    font-family: "Lora", serif;
    float: right;
   
}
.cart-table1{
    margin-top:90px;
    float:right;

}
.row-width{
    width:50px;
}
.check-out{
    padding-left:30px;
    padding-right: 30px;
    font-family: "Lora", serif;
    font-size: 12px;
    margin-top: 0;
    color: #444;
    font-weight: bold;
    float: right;

}

@media screen and (max-width:767px){
    .cart-table{
        margin-left: 0px;
        width:100%;
    } 
    .cart_table_content{
        padding-left:10px;
        padding-right:10px;
    }
}