@font-face {
    font-family: "Helvetia";
    src: url(../fonts/helveticaneue-roman.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "HelvetiaMedium";
    src: url(../fonts/helveticaneue-medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: "HelvetiaBold";
    src: url(../fonts/helveticaneue-bold.ttf);
    font-weight: bold;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    color: #000000 !important;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}

#page-title {
    font-family: HelvetiaBold, "Arial", sans-serif;
    position: fixed;
    z-index: 10;
    margin: 0 0 0 0;
    padding: 0;
    text-align: right;
    top: 80px;
    left: -28px;
    transform: rotate(-90deg) translate(0, 0);
    transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
}

.logo {
    padding: 2rem 0 0;
}

.logo.logo-inner {
    text-align: center;
}

.logo a img {
    width: 55px;
    max-width: 100%;
    height: auto;
}

.logo a span {
    color: #CBCFD3;
    font-size: 20px;
    /* padding: 19px 0 0; */
    display: inline-block;
    position: relative;
    top: 21px;
    left: -8px;
    font-weight: 600;
}

.profile-mobile {
    display: none;
}

.profile-desktop {
    margin-top: 0;
    float: right;
    width: 50%;
}

.profile-desktop img {
    width: 65%;
    float: right;
}

.project-img {
    padding: 5rem 0 0rem;
}

#page-title a.name {
    font-family: HelvetiaBold, "Arial", sans-serif;
    font-size: 18px;
}

#page-title.hidden {
    transform: rotate(-90deg) translate(0, -100px);
    transition: transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
}

#page-title span {
    color: #b0b0b0;
}

#page-title:hover {
    transform: rotate(-90deg) translate(0, 0) scale(0.95);
}

#page-title a {
    text-decoration: none;
    color: #000;
}

#page-title a:hover {
    text-decoration: none;
}

.hero-section {
    padding-left: 20px;
    max-width: 50%;
    float: left;
}

.hero-header {
    margin-top: 40px;
    font-family: HelvetiaBold, Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    width: 80%;
}

.hero-subheader {
    margin-top: 50vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000000;
    font-weight: 800;
}

.hero-subheader span {
    color: #CACDD2;
    font-size: 40px;
}

.profile-section {
    position: absolute;
    top: 0;
}

.about-header {
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000000;
    font-weight: 800;
}

.about-header span {
    color: #CACDD2;
}

.about-section {
    clear: both;
}

.about-section h3 {
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 18px;
    margin-top: 0;
}

.about-content {
    padding-left: 0 !important;
}

.about-section p {
    margin-top: 0;
    margin-bottom: 5rem;
    color: #000000;
    font-size: 18px;
    line-height: 30px;
}

.about-section a.link_desktop {
    font-size: 18px;
    margin-top: 30px;
    transition: 0.3s;
    text-decoration: none;
    color: #000000;
}

.about-section a.link_desktop:hover {
    color: #018dfa;
    transform: scale(0.98);
}

.about-section a.link_mobile {
    display: none;
}

.sidebar-right {
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}

.sidebar-right .sidebar-image {
    width: 50px;
    height: 150px;
}

.projects-header {
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000000;
    font-weight: 800;
}

.projects-header span {
    color: #CACDD2;
}

.projects-section h2 {
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 22px;
    font-weight: medium;
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

.projects-section .description {
    font-size: 18px;
    width: 80%;
    margin: auto;
    line-height: 1.6;
    font-weight: medium;
    color: #707070;
    text-align: center;
}

.inner-image {
    display: none;
}

.project {
    margin-bottom: 50px;
    transition: all 0.3s;
    transform: scale(1);
}

.project a {
    color: #363636;
}

.project:hover {
    transform: scale(0.9);
}

.project a:hover {
    color: #363636;
    text-decoration: none;
}

.roborod {
    height: 640px;
    background: url('../images/roborod.png') center center no-repeat;
    background-size: 100%;
}

.ecommerce-grocery {
    height: 640px;
    background: url('../images/ecommerce-grocery.png') center center no-repeat;
    background-size: 100%;
}

.truckbunk {
    height: 640px;
    background: url('../images/truckbunk.png') center center no-repeat;
    background-size: 100%;
}

.ginesys {
    height: 640px;
    background: url('../images/ginesys.png') center center no-repeat;
    background-size: 100%;
}

.morningcart {
    height: 640px;
    background: url('../images/mcart.jpg') center center no-repeat;
    background-size: 100%;
}

.healthcare {
    height: 640px;
    background: url('../images/NH.jpg') center center no-repeat;
    background-size: 100%;
}

.shoppy {
    height: 640px;
    background: url('../images/shoppy.jpg') center center no-repeat;
    background-size: 100%;
}

.audit {
    height: 640px;
    background: url('../images/auditing-tool.jpg') center center no-repeat;
    background-size: 100%;
}

.technology {
    height: 640px;
    background: url('../images/technology.jpg') center center no-repeat;
    background-size: 100%;
}

.Real-Estate {
    height: 640px;
    background: url('../images/Real-Estate.jpg') center center no-repeat;
    background-size: 100%;
}

.travel-site {
    height: 640px;
    background: url('../images/travel-site.jpg') center center no-repeat;
    background-size: 100%;
}

.conference-booking {
    height: 640px;
    background: url('../images/conference.jpg') center center no-repeat;
    background-size: 100%;
}

.infographics {
    height: 640px;
    background: url('../images/infographics.jpg') center center no-repeat;
    background-size: 100%;
}

.callkerala {
    height: 640px;
    background: url('../images/call-kerala.jpg') center center no-repeat;
    background-size: 100%;
}

#project_id {
    display: none;
}

.contact-conatiner {
    padding-top: 240px;
}

.contact-header {
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000000;
    font-weight: 800;
}

.contact-header span {
    color: #CACDD2;
}

.contact-header a {
    color: #CACDD2;
    text-decoration: none;
}

.contact-header a:hover {
    color: #018dfa;
    transform: scale(0.98);
    text-decoration: none;
}

.contact-section h3 {
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 18px;
    margin-top: 0;
}

.contact-section .links li {
    display: inline;
    font-size: 18px;
}

.contact-section .links li a {
    color: #707070;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.contact-section .links li a:hover {
    color: #018dfa;
    transform: scale(0.98);
}

.contact-section .links li:not(:first-child):before {
    content: "/";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    margin-right: 6px;
    margin-left: 4px;
    color: #DBDBDB;
}

.contact-section {
    margin-bottom: 50px;
}

.more-about-me {
    padding-left: 0px !important;
}

@media (max-width:360px) {
    .contact-header span {
        font-size: 23px;
    }
    .ecommerce-grocery,
    .roborod,
    .truckbunk,
    .ginesys,
    .morningcart,
    .healthcare,
    .shoppy,
    .audit,
    .technology,
    .Real-Estate,
    .travel-site,
    .conference-booking,
    .infographics,
    .callkerala {
        height: 400px;
    }
    .profile-section {
        display: none;
    }
    .profile-desktop {
        display: none;
    }
    .projects-header {
        margin-bottom: 0px !important;
    }
    .hero-subheader {
        max-width: 100% !important;
        margin-top: 10vh !important;
    }
    .profile-mobile {
        display: block;
        margin-top: 0;
        float: none;
        width: 100%;
    }
    .hero-section {
        max-width: 100%;
        float: none;
    }
    .profile-mobile img {
        width: 65%;
        float: right;
    }
    .hero-subheader span {
        font-size: 30px;
    }
    .about-section p {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .about-section a.link_desktop {
        display: none;
    }
    .about-section a.link_mobile {
        display: block;
        font-size: 18px;
        margin-top: 30px;
        transition: 0.3s;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
    }
    .contact-header {
        padding: 0 !important;
    }
    .about-content {
        max-width: 100% !important;
    }
    .project {
        max-width: 100% !important;
    }
}

@media (max-width:767px) {
    .hero-subheader {
        max-width: 100% !important;
        margin-top: 10vh !important;
    }
    .profile-desktop {
        display: none;
    }
    .profile-section {
        display: none;
    }
    .profile-mobile {
        display: block;
        margin-top: 30px;
        float: none;
        width: 100%;
    }
    .profile-mobile img {
        width: 100%;
        float: right;
        margin-bottom: 30px;
    }
    .hero-subheader span {
        font-size: 30px;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
        width: 100% !important;
    }
    .hero-section {
        padding-left: 0px;
        max-width: 100%;
        float: none;
    }
    .hero-subheader {
        font-size: 30px;
        margin-top: 30vh;
        padding: 2rem 1.5rem;
        margin-bottom: 0px;
        text-align: center;
    }
    .about-header {
        font-size: 30px;
        margin-top: 10vh;
        padding-top: 0px;
        margin-bottom: 30px;
        text-align: center;
    }
    .about-content {
        text-align: center;
        padding: 0 !important;
    }
    .about-section h3 {
        font-size: 20px;
    }
    .projects-header {
        font-size: 30px;
        margin-top: 0px !important;
        text-align: center;
    }
    .tasthunter {
        height: 60vh;
    }
    .spedity {
        height: 60vh;
    }
    .tasthunterapp {
        height: 60vh;
    }
    .contact-header {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-top: 0px;
    }
    .contact-section {
        text-align: center;
        margin-bottom: 50px;
    }
    .ecommerce-grocery,
    .roborod,
    .truckbunk,
    .ginesys,
    .morningcart,
    .healthcare,
    .shoppy,
    .audit,
    .technology,
    .Real-Estate,
    .travel-site,
    .conference-booking,
    .infographics,
    .callkerala {
        height: 500px;
    }
    .contact-section h3 {
        font-size: 20px;
    }
    .links {
        padding: 0;
    }
    .about-section p {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .about-section a.link_desktop {
        display: none;
    }
    .about-section a.link_mobile {
        display: block;
        font-size: 18px;
        margin-top: 30px;
        transition: 0.3s;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
    }
    .contact-header {
        padding: 0 !important;
    }
    .about-content {
        max-width: 100% !important;
    }
    .project {
        max-width: 100% !important;
    }
}

@media (max-width:992px) {
    .hero-subheader {
        margin-top: 10vh;
        padding-top: 0px;
        max-width: 50%;
    }
    .about-header {
        margin-top: 5vh;
        padding-top: 0px;
    }
    .projects-header {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .contact-header {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 50px 0 50px;
    }
    .contact-section h3 {
        padding: 0 50px 0 50px;
    }
    .about-section a.link_desktop {
        display: none;
    }
    .about-section a.link_mobile {
        display: block;
        font-size: 18px;
        margin-top: 30px;
        transition: 0.3s;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
    }
    .about-content {
        max-width: 85%;
    }
    .project {
        max-width: 90%;
    }
}

@media (max-width:1024px) {
    .hero-subheader {
        margin-top: 10vh;
        max-width: 50%;
    }
    .profile-section {
        right: 25px;
    }
    .about-header {
        margin-top: 10vh;
    }
    .about-section a.link_desktop {
        display: none;
    }
    .about-section a.link_mobile {
        display: block;
        font-size: 18px;
        margin-top: 30px;
        transition: 0.3s;
        text-decoration: none;
        color: #000000;
        margin-bottom: 20px;
    }
    .projects-header {
        margin-top: 10vh;
    }
    .contact-header {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 0 50px 0 50px;
    }
    .contact-section h3 {
        padding: 0 50px 0 50px;
    }
    .about-content {
        max-width: 85%;
    }
    .project {
        max-width: 90%;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay-250 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.delay-500 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-750 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.delay-1000 {
    -webkit-animation-delay: 1.0s;
    -moz-animation-delay: 1.0s;
    -o-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

.delay-1250 {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

.delay-1500 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.delay-1750 {
    -webkit-animation-delay: 1.75s;
    -moz-animation-delay: 1.75s;
    -o-animation-delay: 1.75s;
    animation-delay: 1.75s;
}

.delay-2000 {
    -webkit-animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;
    -o-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

.delay-2500 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.delay-2000 {
    -webkit-animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;
    -o-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

.delay-2500 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.delay-3000 {
    -webkit-animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
    -o-animation-delay: 3.0s;
    animation-delay: 3.0s;
}

.delay-3500 {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.fadeInUp {
    opacity: 0;
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(400px);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUp {
    opacity: 0;
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
}

.fadeInUp.go {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpShort {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUpShort {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInUpShort {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.fadeInUpShort.go {
    -webkit-animation-name: fadeInUpShort;
    animation-name: fadeInUpShort;
}