body{
    height: 100%;
    margin: 0;
    padding: 0;
}
.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}

.login-page{
    background-image: url('../img/register.jpg');
}
.login-header h3{
    color:white;
} 
.login-container{
    margin-top:80px;
}
.btn{
    font-size:20px;
    padding: 0px;
    font-weight: bold;
}
.btn:hover{
    background-color: #EAA000;
}


.register-page{
    background-image: url('../img/register.jpg');
    background-size: contain;
    color:white;
}


.dashboard-head{
    padding: 0;
    background-color: #0A0910; 
    height: 100vh;
}
.dashboard-header{
    background-color: #0A0910; 
    height: 60px;
    padding-top: 20px;
}
.dashboard-heading{
    background-color: #117FA3;
    height:200px;
}
.dashboard-image{
    width: 30%;
    border-radius: 50%;
    margin-top: 20px;
}
.dashboard-heading h3{
    color:white;
}
.dashboard-header a{
    height:100px;
    padding: 10px;
    text-decoration: none;
    color:white;
    background-color:#117FA3;
}
.dashboard-links{
    margin-top: 10px;
}
.dashboard-container{
    padding-top: 20px;
    height:500px;
    background-color: #D9DDE7;
    height: 100vh;
}
.dashboard-data{
    text-decoration: none;
    font-size:20px;
    line-height: 2;
}
.dashboard-data h3{
    color:black;
    padding: 5px;
}
.dashboard-body-image{
    width:100%;
}
.search-div h3{
    color:white;
}
.search-div button{
    padding: 2px;
    text-decoration: none;
    color:white;
    background-color:#117FA3;
    border: 2px solid #117FA3; 
}
.status-div h3{
    color:white;
}
.status-div label{
    color:white;
}
.status-div button{
    padding: 5px;
    text-decoration: none;
    color:white;
    background-color:#117FA3;
    border: 2px solid #117FA3;
}

.online {
    min-height: 1.236em;
    min-width: 1.236em;
    padding: .202em;
    font-size: 1em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    top: -.5em;
    left: -.5em;
    margin: 0;
    border-radius: 100%;
    background-color: #77a464;
    color: #fff;
    font-size: .857em;
    z-index: 9;
    top: 0;
    right: 0;
    left: auto;
    margin: 1.5em 11.5em 0 0;
}
.loadmore{
    padding: 4px;
    margin-left:1px;
    text-decoration: none;
    color:white;
    background-color:#117FA3;
    border: 2px solid #117FA3; 
}
