$max-width:100%;
$white-color:white;
$value_none:0;

.footer{
    background-color: black;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    .specbee-footer{
        display:inline;
        padding-bottom: 20px;
        font-size:20px;
        color:white;
}
}


@media screen and (max-width:$screen-sm)
{  
.footer{
    background-color: black;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
    .specbee-footer{
        display:inline;
        padding-bottom: 20px;
        font-size:16px;
        color:white;
}
}
}