$max-width:100%;
$white-color:white;
$value_none:0;

.header{
    .navbar{
        background-color:$brand-primary;
        border-bottom:1px solid $white-color;
        padding:$value_none;
        margin-bottom:$value_none;
    }
    .logo{
        width:200px;
        height:100px;
        padding:$value_none;
        margin:$value_none;
    }
    .navbar-nav{
        padding-top:20px;
        margin-right:40px;
    }
    .navbar-nav li a{
        color:$white-color;
        font-size:16px;
    }
    .navbar-nav li a:hover{
        color:red;
        font-size:16px;
    }
    .dropdown .dropdown-menu li a{
        color:blue;
        font-size:16px;
    }
    .dropdown .dropdown-menu li a:hover{
        color:red;
        font-size:16px;
    }
    
}



@media screen and (max-width:$screen-sm)
{
    .header{
    .navbar{
            background-color:$white-color;
            border-bottom:1px solid $white-color;
            padding:$value_none;
            margin-bottom:$value_none;
    }
    .logo{
        width:130px;
        height:80px;
        padding:$value_none;
        margin:$value_none;
        padding-left:20px;
    }
    .navbar-nav li a{
        color:grey;
        font-size:12px;
    }
    .navbar-nav li a:hover{
        color:red;
        font-size:12px;
    }
    .dropdown .dropdown-menu li a{
        color:blue;
        font-size:12px;
    }
    .dropdown .dropdown-menu li a:hover{
        color:red;
        font-size:12px;
    }
    .navbar-toggle{
        margin-top:20px;
        margin-right:30px;
    }
}
}


@media screen and (max-width:$screen-md)
{
    .header{
        .navbar{
                background-color:$white-color;
                border-bottom:1px solid $white-color;
                padding:$value_none;
                margin-bottom:$value_none;
        }
        .logo{
            width:130px;
            height:80px;
            padding:$value_none;
            margin:$value_none;
            padding-left:20px;
        }
        .navbar-nav li a{
            color:grey;
            font-size:12px;
        }
        .navbar-nav li a:hover{
            color:red;
            font-size:12px;
        }
        .dropdown .dropdown-menu li a{
            color:blue;
            font-size:12px;
        }
        .dropdown .dropdown-menu li a:hover{
            color:red;
            font-size:12px;
        }
        .navbar-toggle{
            margin-top:20px;
            margin-right:30px;
        }
    }
}