@import 'bootstrap/_variables.scss';
@import 'header.scss';
@import 'footer.scss';

$max-width:100%;
$white-color:white;
$value_none:0;
$extra-small:450px;

.banner{
    position: relative;
    padding-left:$value_none;
    padding-right:$value_none;
    .image{
        width:$max-width; 
    }
    .hero-content{
        position:absolute;
        left:10%;
        right: 60%;
        top:20%;
        bottom: 30%;
        margin: auto;
        color:$white-color;
        font-size:24px;
        background-color:$brand-primary;
        padding:20px 20px;
    }
    .hero-content p{
        padding-top:10px;
        font-size:16px;
    }
}

.main-container{
    padding-left:$value_none;
    padding-right:$value_none;
    padding-top:30px;
    padding-bottom: 20px;
    background-color:#999;
    .main-container{
        width:200px;
    }
    .main-content{
        border-radius: 25px;
    }
    .image{
        width:100%;
        height:250px;
        border-radius: 25px;
        margin-bottom:10px;
    }
    p{
        padding-top:10px;
        font-size:16px;
        background-color:$brand-primary;
        border-radius: 20px;
        color:$white-color;
        padding-bottom:10px;
    }
}


@media screen and (max-width:$screen-sm)
{

.banner{
    position: relative;
    padding-left:$value_none;
    padding-right:$value_none;
    .image{
        width:$max-width;   
        height:auto;
    }
    .hero-content{
        position:absolute;
        left:$value_none;
        right: $value_none;
        top:40%;
        bottom: 40%;
        margin: auto;
        color:$white-color;
        text-align:center;
        font-size:16px;
        background-color:$brand-primary;
        padding:10px 5px;
    }
}

.main-container{
    padding-left:$value_none;
    padding-right:$value_none;
    padding-top:30px;
    padding-bottom: 20px;
    
    .main-container{
        width:200px;
    }
    .main-content{
        border-radius: 25px;
        padding-bottom:10px;
        padding-left:20px;
        padding-right:20px;
    }
    .image{
        width:100%;
        height:200px;
        border-radius: 25px;
    }
    p{
        padding-top:10px;
        font-size:14px;
        background-color:$brand-primary;
        border-radius: 20px;
        color:$white-color;
        padding-bottom:10px;
    }
}
}


@media screen and (max-width:$extra-small)
{
.banner{
    position: relative;
    padding-left:$value_none;
    padding-right:$value_none;
    .image{
        width:$max-width;   
        height:auto;
    }
    .hero-content{
        position:absolute;
        left:$value_none;
        right: $value_none;
        top:40%;
        bottom: 40%;
        margin: auto;
        color:$white-color;
        text-align:center;
        font-size:15px;
        background-color:$brand-primary;
        padding:5px 5px;
    }
}

    .main-container{
        padding-left:$value_none;
        padding-right:$value_none;
        padding-top:30px;
        padding-bottom: 20px;
        .main-container{
            width:200px;
        }
        .main-content{
            border-radius: 25px;
            padding-bottom:10px;
            padding-left:20px;
            padding-right:20px;
        }
        .image{
            width:100%;
            height:150px;
            border-radius: 25px;
        }
    }
}