{#
/**
 * @file
 * Theme implementation for finance page popup block.
#}

<div class="finance" id="finance-pop-up">
  <div id="finance-popuptag-dialog" class="bank_main_content">
    <div class="bank_logo">
      <img src={{ term.bank_logo }}></img>
    </div>
    <div class="bank_sub_content">
      <h2>{{ term.bank_name }} Services</h2>
      <p>{{ term.bank_description | striptags | raw }} </p>
    </div>
    <div class="bank_info_form">
      {{ drupal_entity('webform', 'get_in_touch_finance') }}
    </div>
  </div>
</div>