{#
/**
 * @file
 * Theme implementation for homepage view map block.
#}

<div class="view-map">View Map</div>
<div class="homepage-map-wrapper">
<div class="map-close">
  <a href="#">
    <i class="icon icon-close"></i>
  </a>
</div>
<div id="homepage-map" class="homepage-map">
</div>

</div>