.circle{
    background-color: black;
    border-radius: 50%;
    margin: auto;
    height: 300px;
    width: 300px;
    margin-top: 100px;
    border:2px solid white;
}
.small-circle{
    background-color: white;
    width:30px;
    border-radius: 50%;
    margin-top:100px;
    left:0px;
    right: 0px;
    top:134px;
    margin: auto;
    height:30px;
    position: relative;
}
.seconds_hand{
    background-color:red;
    width:2px;
    height:125px;
    position: absolute;
    left:5px;
    right: 0px;
    top:15px;
    margin: auto;
    transform: rotate(0deg);
    transform-origin:top left;
}
.minute_hand{
    background-color: white;
    width:2px;
    height:125px;
    position: absolute;
    left: 16px;
    top: 14px;
    transform-origin: top left; 
}
.hour_hand
{
    background-color: white;
    width:3px;
    height: 80px;
    position: absolute;
    left:7px;
    right: 0px;
    top:15px;
    margin: auto;
    transform-origin: top left; 
}


