
@font-face {
    font-family: "Helvetia";
    src: url(../fonts/helveticaneue-roman.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "HelvetiaMedium";
    src: url(../fonts/helveticaneue-medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: "HelvetiaBold";
    src: url(../fonts/helveticaneue-bold.ttf);
    font-weight: bold;
}

html{
    margin: 0;
    padding:0;
}
body{
    margin: 0;
    padding:0;
    background-color: #FFFFFF;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
}

#page-title {
	font-family: HelvetiaBold, "Arial", sans-serif;
	position: fixed;
	z-index: 10;
	margin: 0 0 0 0;
	padding: 0;
	text-align: right;
	top: 80px;
	left: -28px;
	transform: rotate(-90deg) translate(0, 0);
	transition: transform 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
}

#page-title a.name {
    font-family: HelvetiaBold, "Arial", sans-serif;
    font-size: 18px;
}

#page-title.hidden {
	transform: rotate(-90deg) translate(0, -100px);
    transition: transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
}
#page-title span {
    color: #b0b0b0;
}
#page-title:hover{
	transform: rotate(-90deg) translate(0, 0) scale(0.95);
}
#page-title a{
    text-decoration: none;
    color: #000;
}
#page-title a:hover{
    text-decoration: none;
}

.hero-section{
    padding-left: 20px;
}
.hero-header{
    margin-top: 40px;
    font-family: HelvetiaBold, Arial, sans-serif;
    font-size:26px;
    font-weight: 700;
    line-height: 1.3;
    width: 80%;
}
.hero-subheader{
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000;
    font-weight: 800;
}
.hero-subheader span {
    color: #CBCFD3;
}

.about-header{
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000;
    font-weight: 800;
}
.about-header span {
    color: #CBCFD3;
}
.about-section h3{
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 18px;
    margin-top: 0;
}
.about-section p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #707070;
    font-size: 18px;
    line-height: 30px;
}
.about-section a.link{
    font-size: 18px;
    margin-top: 30px;
    display: block;
    float: right;
    transition: 0.3s;
    text-decoration: none;
    color:#000;
}
.about-section a.link:hover{
    color: #24C9BA;
    transform: scale(0.98);
}

.sidebar-right{
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
}
.sidebar-right .sidebar-image{
  width:50px;
  height:150px;
}

.projects-header{
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000;
    font-weight: 800;
}
.projects-header span {
    color: #CBCFD3;
}
.projects-section h2{
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 22px;
    font-weight: medium;
    text-align: center;
    margin-bottom: 10px;
}
.projects-section .description{
    font-size: 18px;
    width: 80%;
    margin: auto;
    line-height: 1.6;
    font-weight: medium;
    color: #707070;
    text-align: center;
}
.inner-image{
    display: none;
}
.project{
    margin-bottom: 80px;
    transition: all 0.3s;
    transform: scale(1);
}
.project a{
    color:#363636;
}
.project:hover{
    transform: scale(0.9);    
}
.project a:hover{
    color:#363636;
    text-decoration: none;   
}
.tasthunter{
    height: 640px;
    background: url('../images/taskhunters_cover_home.png') center center no-repeat;
    background-size: 100%; 
}
.spedity{
    height: 640px;
    background: url('../images/spedity_cover_home.png') center center no-repeat;
    background-size: 100%;
}
.tasthunterapp{
    height: 640px;
    background: url('../images/taskhuntersapp_cover_home.png') center center no-repeat;
    background-size: 100%;
}

.contact-conatiner{
    padding-top: 240px;
}
.contact-header{
    margin-top: 30vh;
    padding-top: 40px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: HelvetiaBold, "Arial", sans-serif;
    line-height: 1;
    letter-spacing: -1.5px;
    color: #000;
    font-weight: 800;
}
.contact-header span {
    color: #CBCFD3;
}
.contact-header a{
    color: #CBCFD3;
    text-decoration: none;
}
.contact-header a:hover{
    color: #000;
    transform: scale(0.98);
    text-decoration: none;
}
.contact-section h3{
    font-family: HelvetiaMedium, "Arial", sans-serif;
    font-size: 18px;
    margin-top: 0;
}
.contact-section .links li{
    display: inline;
    font-size: 18px;
}
.contact-section .links li a{
color: #707070;
text-decoration: none;
transition: 0.3s;
display: inline-block;
}
.contact-section .links li a:hover{
    color: #24C9BA;
    transform: scale(0.98);
}
.contact-section .links li:not(:first-child):before {
    content: "/";
    display: inline-block;
    text-indent: 0;
    text-align: center;
    margin-right: 6px;
    margin-left: 4px;
    color: #DBDBDB;
}
.copyright{
    padding-top:100px;
    margin-bottom:40px;
}


@media (max-width:360px)
{
    .contact-header span{
        font-size:23px;
    }
}
@media (max-width:767px)
{
    .container{
        padding-left: 0px;
        padding-right:0px;
    }
    .hero-section{
        padding-left: 0px;
    }
    .hero-subheader{
        font-size:30px;
    }
    .about-header{
        font-size:30px;
    }
    .about-section h3{
        font-size:20px;
    }
    .projects-header{
        font-size:30px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .tasthunter{
        height: 60vh;
    }
    .spedity{
        height: 60vh;
    }
    .tasthunterapp{
        height: 60vh;
    }
    .contact-header{
        font-size:30px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-top: 0px;
    }
    .contact-section h3{
        font-size:20px;
    }
    .links{
        padding: 0;
    }  
}
@media (max-width:992px)
{
    .projects-header{
        font-size:30px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .contact-header{
        font-size:30px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-top: 0px;
    }
}



.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

.delay-250 {
    -webkit-animation-delay:0.25s;
    -moz-animation-delay:0.25s;
    -o-animation-delay:0.25s;
    animation-delay:0.25s;
}
.delay-500 {
    -webkit-animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}
.delay-750 {
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
    -o-animation-delay:0.75s;
    animation-delay:0.75s;
}
.delay-1000 {
    -webkit-animation-delay:1.0s;
    -moz-animation-delay:1.0s;
    -o-animation-delay:1.0s;
    animation-delay:1.0s;
}
.delay-1250 {
    -webkit-animation-delay:1.25s;
    -moz-animation-delay:1.25s;
    -o-animation-delay:1.25s;
    animation-delay:1.25s;
}
.delay-1500 {
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    -o-animation-delay:1.5s;
    animation-delay:1.5s;
}
.delay-1750 {
    -webkit-animation-delay:1.75s;
    -moz-animation-delay:1.75s;
    -o-animation-delay:1.75s;
    animation-delay:1.75s;
}
.delay-2000 {
    -webkit-animation-delay:2.0s;
    -moz-animation-delay:2.0s;
    -o-animation-delay:2.0s;
    animation-delay:2.0s;
}
.delay-2500 {
    -webkit-animation-delay:2.5s;
    -moz-animation-delay:2.5s;
    -o-animation-delay:2.5s;
    animation-delay:2.5s;
}
.delay-2000 {
    -webkit-animation-delay:2.0s;
    -moz-animation-delay:2.0s;
    -o-animation-delay:2.0s;
    animation-delay:2.0s;
}
.delay-2500 {
    -webkit-animation-delay:2.5s;
    -moz-animation-delay:2.5s;
    -o-animation-delay:2.5s;
    animation-delay:2.5s;
}
.delay-3000 {
    -webkit-animation-delay:3.0s;
    -moz-animation-delay:3.0s;
    -o-animation-delay:3.0s;
    animation-delay:3.0s;
}
.delay-3500 {
    -webkit-animation-delay:3.5s;
    -moz-animation-delay:3.5s;
    -o-animation-delay:3.5s;
    animation-delay:3.5s;
}

.fadeInUp{
    opacity:0;
    -webkit-transform: translateX(400px); 
    transform: translateX(400px); 
}


@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(400px); 
    } 
    50%{
       opacity: 0.3; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInUp{ 
    opacity: 0; 
    -webkit-transform: translateY(400px); 
    transform: translateY(400px);
}
.fadeInUp.go { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}



@-webkit-keyframes fadeInUpShort { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUpShort { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 
.fadeInUpShort{
    opacity: 0; 
    -webkit-transform: translateY(20px); 
    transform: translateY(20px); 
}
.fadeInUpShort.go { 
    -webkit-animation-name: fadeInUpShort; 
    animation-name: fadeInUpShort; 
}
